<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <ng-container *ngIf="(currentUser$ | async)">
                <li class="nav-item">
                    <a class="nav-link" routerLink="members" routerLinkActive="active">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="lists" routerLinkActive="active">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="messages" routerLinkActive="active">Messages</a>
                </li>
                <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
                    <a class="nav-link" routerLink="admin" routerLinkActive="active">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="errors" routerLinkActive="active">Errors</a>
                </li>
            </ng-container>
        </ul>
        <div class="dropdown" *ngIf="(currentUser$ | async) as user" dropdown>
            <img src="{{ user.photoUrl || './assets/user.png'}}" alt="{{ user.knownAs || user.username | titlecase }}" srcset="">
            <button class="btn btn-outline-light dropdown-toggle ms-1" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" dropdownToggle>
                <strong>Welcom, <span>{{ user.username | titlecase}}</span></strong>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" *dropdownMenu>
                <li><a routerLink="/member/edit" class="dropdown-item" type="button">Edit Profile</a></li>
                <div class="dropdown-divider"></div>
                <li><button class="dropdown-item" type="button" (click)="logout()">Logout</button></li>
            </ul>
        </div>
        <form *ngIf="(currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text"
                placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
                placeholder="Password">
            <button class="btn btn-secondary" type="submit">Login</button>
        </form>
    </div>
</nav>